*{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Barlow';
  font-weight: 400;
  width: 90%;
  margin-left: 5%;
  
}
h1{
    font-family: 'Barlow Condensed';
    font-weight: 400,700px;
}
.header{
    display: flex;
    justify-content: space-between;

}
.nav ul{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    border: 5px solid hsl(198, 28%, 93%);
    background-color: hsl(198, 28%, 93%);
    border-radius: 5px;
    color:black;
    padding: 10px;
    
}
.container1{
    display: flex;
    justify-content: space-between;
    
}
.content h1{
    font-size: 52px;
    text-transform: uppercase;
    font-family: 'Barlow';
}
.button1{
    margin-bottom: 20px;
    border: 1px solid hsl(22, 89%, 52%);
    background-color: hsl(22, 89%, 52%);
    color: #fff;
    border-radius: 5px;
    padding: 14px;
    text-transform: uppercase;
}
button{
    border: none;
    color: black;
    background: none;
    text-transform: uppercase;
}
.content2 img{
    width: 500px;
    height: 400px;
    border-radius: 8px;
    
}
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parantitem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.item1 img{
    height: 400px;
    border-radius: 6px;
    opacity: 0.6;
    

}
.item2 img{
    height: 400px;
    border-radius: 6px;
}
.item3 h1{
    text-transform: uppercase;
    
}
.footer{
    display: flex;
    justify-content: space-between;
}
.row1 img{
    background-color: hsl(22, 89%, 52%);
    border: 30px hsl(22, 89%, 52%);
    padding: 15px;
    border-radius: 6px;
    
}
.row1 h2{
    text-transform: uppercase;
}
.row1 p{
    color: hsl(221, 23%, 58%);
}
p{
    color: hsl(221, 23%, 58%);
    font-weight: 400px;
}



